
        h1{
            color: lightcoral ;
        }
        .H2{
            color: lightcoral;
        }
        html{
            background-image: url(Universe.jpeg);
        }
        .Camel{
            color: whitesmoke
        }

        .Chameleon{
            color: whitesmoke;
        }

        .Panda{
            color: whitesmoke;
        }

        .Cicada{
            color: whitesmoke;
        }

        .Teddy{
            color: whitesmoke;
        }

        .Pigeon{
            color: whitesmoke;
        }